*.bak
*.bak.*
/bak
*.old
.DS_Store
.ipynb_checkpoints/
.vscode/
checkpoint
/logs
/tmp
/images
my_*
/datasets
*.secret
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
optuna.db

test.ipynb
personal/datasets
cars.mp4
cars.avi
yolov9m.pt